<!DOCTYPE html>


<body>
<p name="status">FTP start button is used to create ftp server with folder /var/ftp <br>
Enter your file filename to upload on server.<br>
<b>File URL : ftp://ip_address /pub/cfg_files/filename</b>
<br> Eg: ks = ftp://(file_path)<br><br>
</p>
	<form method="POST">
		<input type="submit" name="submit" value="FTP Start">					<br>
		<input type="submit" name="submit" value="FTP Stop">					<br><br><br>
		File Name : <input type="text" id="ftp_file" name="ftp_file" >
		<input type="submit" name="submit" value="Upload File">
	</form>
</body>

</html>

